body{
  margin: 0;
background-color: azure;
}
*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.container{
  width: 70%;
 height: 600px;
  border: 1px solid ;
  
  

}
header{
  background-color: darkgrey;
 
  position: fixed;
  width: 100%;
  height: 5%;
  

}
img{
  width: 100%;
 height: 100%;

}
#h5{

margin-left: 75%;
position:absolute;
margin-top: 4px;
letter-spacing: 2px;
}
#h2{ 

  
margin-left: 83.3%;
position:absolute;
margin-top: 4px;
letter-spacing: 2px;
}
#h0{
position: absolute;
left: 20px;
margin-top: 4px;
letter-spacing: 2px;
}
#h3{
  position: absolute;
  right:4.3%;
  margin-top: 4px;
  letter-spacing: 2px;

}
#h4{
  margin: -40%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 10px;
  text-shadow: 2px 2px 2px whitesmoke, 3px 3px rgb(57, 8, 8);
  position: sticky;
  letter-spacing: 3px;
  font-size:30px;
}
.container1{
  margin-top: 10px;
  width: 78%;
  height: 550px;
 
  background-color: skyblue  ;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
 
}
h1{
  font-size: 30px;
  font-weight: bold;
  margin-right: 800px;
 padding-top: 2px;
 letter-spacing: 3px;
 
}
section{
 margin-top: 12px;
  width: 265px;
  height: 250px;
 
  display: inline-block;
 border-radius: 5px;
 box-shadow: 2px 2px 2px white;
}
nav{
  projects
}
